### Zadatak broj 6 - višestruko poravnanje epidemioloških podataka više država

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [141]:
all_countries = pd.read_csv('dates_countries_001.txt', sep=",")
all_countries.head()
all_countries.drop(['Lat', 'Long', 'Province/State'], axis=1,inplace=True) #country ne jer moram znati koja je koja
all_countries = all_countries.transpose()
all_countries.columns = all_countries.iloc[0]
all_countries = all_countries[1:]
all_countries.columns = ['Austria_1', 'Bosnia and Herzegovina', 'Croatia', 'France', 'Germany','Italy', 'Slovenia', 'Spain', 'United Kingdom', 'Hungary','Austria_2']
#austria mi se pojavljuje dva puta???
all_countries.drop(['Austria_2'],axis=1,inplace=True)
all_countries
all_countries.columns = ['Austria', 'Bosnia and Herzegovina', 'Croatia', 'France', 'Germany','Italy', 'Slovenia', 'Spain', 'United Kingdom', 'Hungary',]
all_countries

,Austria,Bosnia and Herzegovina,Croatia,France,Germany,Italy,Slovenia,Spain,United Kingdom,Hungary
1/22/20,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,2,0,0,0,0,0,0
1/25/20,0,0,0,3,0,0,0,0,0,0
1/26/20,0,0,0,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
11/3/21,847408,256307,476832,7002389,4684462,4782802,341699,5019255,9171660,879092
11/4/21,856002,257401,483142,7011068,4722102,4788704,346220,5022546,9208219,885360
11/5/21,865390,257401,490074,7019847,4755887,4795465,349996,5025639,9241916,892164
11/6/21,875333,257401,497168,7029452,4779675,4802225,353660,5025639,9272066,892164
11/7/21,883887,257401,501327,7037999,4792463,4808047,355979,5025639,9301909,892164

In [142]:
all_countries = all_countries.loc[:, all_countries.columns != 'Country/Region'].diff(axis=0) #bas dnevni podaci
all_countries.drop(['1/22/20'], axis=0,inplace=True)

In [143]:
all_countries #ovo su bas dnevni podaci sada

,Austria,Bosnia and Herzegovina,Croatia,France,Germany,Italy,Slovenia,Spain,United Kingdom,Hungary
1/23/20,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,2,0,0,0,0,0,0
1/25/20,0,0,0,1,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0
1/27/20,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
11/3/21,6506,1253,4573,10050,34498,5188,3453,2287,40803,2595
11/4/21,8594,1094,6310,8679,37640,5902,4521,3291,36559,6268
11/5/21,9388,0,6932,8779,33785,6761,3776,3093,33697,6804
11/6/21,9943,0,7094,9605,23788,6760,3664,0,30150,0
11/7/21,8554,0,4159,8547,12788,5822,2319,0,29843,0

In [144]:
all_countries = all_countries.set_index(pd.to_datetime(all_countries.index)) #ovaj dio je jako bitan i puno sam se mucila  s tim
#ugl fora je da sam nasla taj resample dolje koji sumira dane u tjednu, al je bio problem da radi s indeksom tim nekim posebnom
#index nije ko gora neg bas mora biti datetime tip, inace ne radi
#uoci kak je ovo kul jer 655/7 je priblizno 93, on zaokruzi na vise jer valjda gleda zadnji tjedan, nema vise onih nanova
all_countries.index
all_countries = all_countries.resample('W').sum()

In [145]:
all_countries = all_countries/7 # i sad da dobim prosjeke samo podjelim sa 7
all_countries

,Austria,Bosnia and Herzegovina,Croatia,France,Germany,Italy,Slovenia,Spain,United Kingdom,Hungary
2020-01-26,0.000000,0.000000,0.000000,0.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-02-02,0.000000,0.000000,0.000000,0.428571,1.428571,0.285714,0.000000,0.142857,0.285714,0.000000
2020-02-09,0.000000,0.000000,0.000000,0.714286,0.571429,0.142857,0.000000,0.142857,1.714286,0.000000
2020-02-16,0.000000,0.000000,0.000000,0.142857,0.285714,0.000000,0.000000,0.000000,0.571429,0.000000
2020-02-23,0.000000,0.000000,0.000000,0.000000,0.000000,21.714286,0.000000,0.000000,1.428571,0.000000
...,...,...,...,...,...,...,...,...,...,...
2021-10-10,1770.428571,651.142857,1308.428571,3758.142857,8277.571429,2611.714286,800.000000,1784.428571,36232.285714,575.142857
2021-10-17,2080.571429,545.714286,1436.571429,4373.285714,9083.142857,2511.857143,954.000000,1538.142857,42122.714286,815.000000
2021-10-24,3260.571429,577.714286,2487.285714,4980.428571,13437.000000,3326.571429,1682.428571,1906.571429,46358.428571,1530.000000
2021-10-31,4625.000000,685.714286,3574.714286,5648.142857,18840.000000,4397.142857,2276.714286,1916.571429,40565.000000,2799.142857
2021-11-07,7558.000000,663.285714,4425.571429,7042.000000,26357.857143,5154.571429,2875.571429,2070.142857,34897.142857,4106.428571

In [146]:
df = all_countries
binInterval = [-1, 100, 300,700, 2000, 1000000]
binLabels   = ['A', 'B', 'C','D','E']
df['Austria_'] = pd.cut(all_countries['Austria'], bins = binInterval, labels=binLabels)
df['Bosnia and Herzegovina_'] = pd.cut(all_countries['Bosnia and Herzegovina'], bins = binInterval, labels=binLabels)
df['Croatia_'] = pd.cut(all_countries['Croatia'], bins = binInterval, labels=binLabels)
df['France_'] = pd.cut(all_countries['France'], bins = binInterval, labels=binLabels)
df['Germany_'] = pd.cut(all_countries['Germany'], bins = binInterval, labels=binLabels)
df['Italy_'] = pd.cut(all_countries['Italy'], bins = binInterval, labels=binLabels)
df['Slovenia_'] = pd.cut(all_countries['Slovenia'], bins = binInterval, labels=binLabels)
df['Spain_'] = pd.cut(all_countries['Spain'], bins = binInterval, labels=binLabels)
df['United Kingdom_'] = pd.cut(all_countries['United Kingdom'], bins = binInterval, labels=binLabels)
df['Hungary_'] = pd.cut(all_countries['Hungary'], bins = binInterval, labels=binLabels)
df.drop(['Austria','Bosnia and Herzegovina','Croatia','France','Germany','Italy','Slovenia','Spain','United Kingdom','Hungary'],axis=1,inplace=True)

In [147]:
df

,Austria_,Bosnia and Herzegovina_,Croatia_,France_,Germany_,Italy_,Slovenia_,Spain_,United Kingdom_,Hungary_
2020-01-26,A,A,A,A,A,A,A,A,A,A
2020-02-02,A,A,A,A,A,A,A,A,A,A
2020-02-09,A,A,A,A,A,A,A,A,A,A
2020-02-16,A,A,A,A,A,A,A,A,A,A
2020-02-23,A,A,A,A,A,A,A,A,A,A
...,...,...,...,...,...,...,...,...,...,...
2021-10-10,D,C,D,E,E,E,D,D,E,C
2021-10-17,E,C,D,E,E,E,D,D,E,D
2021-10-24,E,C,E,E,E,E,D,D,E,D
2021-10-31,E,C,E,E,E,E,E,D,E,E
2021-11-07,E,C,E,E,E,E,E,E,E,E